body {
	font-size: 62.5%;
}

h1 {
    background: url('http://localhost:8080/media/web/img/logo.png');
    width: 615px;
    height: 290px;
    margin: 2em auto;
}

h1 span {
    display: none;
}

h2 {
    font-size: 1.7em;
}

div#wrapper {
	width: 960px;
	margin: 0 auto 3em auto;
	background-color: #fff;
	color: #444;
	text-decoration: none;
	word-spacing: normal;
	text-align: left;
	letter-spacing: 0;
	line-height: 1.2em;
	font-size: 1.3em;
	text-align: center;
}

ol.results li {
	text-align: left;
    background: #eeeeee;
    padding: 1em;
}

ol.results li {
	margin: 1.5em;
}

div.uri a {
	font-family: georgia;
	font-size: 1.3em;
	text-decoration: none;
	color: #00508d;
}

div.uri a:hover {
	color: #3488c8;
}

div.teaser {
	font-variant: small-caps;
	margin: 0.5em 0 0.5em 0;
}

div.teaser:before {
	content: "\"... ";
}

div.teaser:after {
	content: "...\"";
}

.score {
	color: #777;
}

div#paginator {
	text-align: center;
}

.highlight {
	background: #FFFF66;
    font-weight: bold;
    padding: 2px;
    color: #FF3300;
}

.tag {
	background: #99CCFF;
    font-weight: bold;
    padding: 2px;
    color: #003399;
}

div#clusterwrap {
    width: 250px;
    text-align: left;
    float: left;
}

div#resultwrap {
    width: 700px;
    text-align: left;
    float: right;
}

div#clusterwrap li {
    padding: 0.5em;
    lineheight: 1.3em;
    border-top: 1px solid #eee;
    font-size: 1.3em;
}

div#clusterwrap li:hover {
    background: #ddd;
}